*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

.section1, .footer{
    background-color: #1F2937;
}

.image, .title-button, .imgtext, .right-links, .title-subtext, .container, .ad, .signup-button {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.section1 {
    padding: 1em 13em;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.right-links {
    display: flex;
    gap: 32px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero {
    padding: 7em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-right {
    width: 50%;
    flex-shrink: 0;
}

.image {
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    height: 215px;
}

.title-button {
    border: none;
    padding: 7px 1em;
    width: 120px;
    background-color: #3882F6;
    border-radius: 8px;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 13em;
    margin-top: 3em;
}

.container {
    display: flex;
    margin: 3em 0 6em 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
    max-width: 200px;
    align-items: center;
    color: #1F2937;
}

.square {
    width: 160px;
    height: 160px;
    border-radius: 16px;
    border: 4px solid #3882F6;
}

.subtitle {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.section3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7em 13em;
}

.Thor {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bolder;
    color: #1F2937;
}

.quote {
    font-size: 36px;
    color: #1f2937;
}

em {
    font-style: italic;
}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 13em;
}

.signup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    width: 100%;
    padding: 3em;
    border-radius: 10px;
}

strong {
    font-size: 24px;
    color: #fff;
}

.signup-button {
    border: 2px solid white;
    padding: 7px 1em;
    width: 120px;
    background-color: #3882F6;
    border-radius: 8px;
}

footer {
    background-color: #1f2937;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}
